albumentations
black
efficientnet-pytorch
h5py
imageio
ipykernel
ipython
jupyter
kaggle
lightning
lightning-utilities
matplotlib
monai
numpy
opencv-python
pandas
pillow
pytorch-lightning
scikit-image
scikit-learn
scipy
tensorboard
tensorboardX
torch
torchaudio
torchmetrics
torchvision
tqdm